.modal-title {
  display: flex;
  gap: 1rem;
  align-items: center;
  background: #fff;
  padding-bottom: 1rem;

  & h1 {
    color: #101828;

    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 145%;
  }

  & img {
    border-radius: 1.75rem;
    width: 3rem;
  }

  .ant-modal-close {
    position: 'absolute' !important;
    top: 12px !important;
    left: -1rem !important;
  }
}
