.avatar-uploader {
  & .anticon {
    & svg {
      width: 100%;
      height: 100%;
    }
  }

  .anticon {
    justify-content: center !important;
    & svg {
      width: 100% !important;
      height: 100% !important;
    }
  }

  .ant-upload-list-item-name {
    display: none !important;
  }
}
